<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>OperatorMonoSSm-Book.otf</string>
		<string>OperatorMonoSSm-BookItalic.otf</string>
		<string>OperatorMonoSSm-Bold.otf</string>
		<string>OperatorMonoSSm-BoldItalic.otf</string>
	</array>
</dict>
</plist>
